/* colors:  
#ffffff
#1e3c50
#0c141e
#069be2
#52f3cf

fonts: 
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Goldman', cursive;
*/


h1 {
    /* color: #52f3cf; */
    /* color: #069be2; */
    margin: 0;
    font-size: 40px;
    font-family: 'Goldman', cursive;
}
h2 {
    font-size: 40px;
    font-family: 'Goldman', cursive;
    /* color: #069be2; */
    /* color: #52f3cf; */

}
hr {
  width: 100px;
  height: 5px;
  background-color: white;
}

.title {
  font-size: 100px;
}

#logoContainer {
    display: flex;
    width: 100%;
    /* height: 50%; */
    justify-content: center;
    align-items: center;
}
.superCont {
    height: 5000px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.container {
    display: flex;
    align-items: flex-start;
    /* padding: 50px; */
    background-color: rgba(83, 202, 67, 0.5);
    height: 800px;
    overflow: hidden;
    position: relative;

}
#myVideo {
    position: absolute;
    left: 0;
    top: 0px;
    min-width: 100%; 
    min-height: 100%;
}
.content {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: block; */
}

